body{
    display: flex;
    border: 2px solid black;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 450px;
    
   
} 
#box1{
    width: 100px;
    height: 100px;
    background-color: red;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: blue;
}
#box3{
    width: 100px;
    height: 100px;
    background-color: green;
}
#box4{
    width: 100px;
    height: 100px;
    background-color: yellow;
}